.cart-item-info{
    display: flex;
    flex-direction: column;

    height: 18rem;
    width: 12.5rem;
    gap: 0.5rem;
}

.cart-attributes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cart-brand-label{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.cart-name-label{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.cart-label{
    font-weight: 800;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
}

.cart-price{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}


